*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(34, 34, 34);
    --bg-url:  url(assets/teste2.png);
    --stroke-color: rgba(8, 8, 8, 0.5);
    --surface-color: rgba(233, 18, 18, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color:rgba(7, 7, 7, 0.2);
   
}

/* .light{
    --text-color: black;
    --bg-url:  url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color:rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(assets/sun.svg);
    
} */
    


body  {
    text-align: center;
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

body *{
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color)
}
#container{

    width: 360px;
    margin: 36px auto 0px auto;
    padding: 0 24px;
}
#profile{
    text-align: center;
    padding: 42px;
}

#profile img{
    display: block;
    width: 250px;
    margin: -12px;
    height: 200px;
    border-radius: 20px;
    
}
#profile p{
    color:var(--text-color);
    font-weight: 500;
    margin-top: -20px;
}
.perfiltop{
  justify-content: space-between;
  align-items: center;
  border: 1px solid ;
  padding: 15px 24px; 
  border-radius: 15px;
  text-decoration: none; 
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  
}


ul {
    list-style: none;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    
}

ul li a {
    background: var(--surface-color);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    border-radius: 15px;
    border: 1px solid var(--stroke-color);
    text-decoration: none;
   
   
} 

  
ul li a:hover {
    background-color: var(--surface-color);
    border: 2.0px solid var(--text-color);
}

#lista-social{
    display: flex;
    gap: 20px;
    padding: 24px 0;
    font-size: 30px;
    justify-content: center;
    
}

#lista-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#lista-social a:hover{
    background-color: var(--highlight-color);
    border-radius: 50%;
}
#switch{
    position: relative;
    width: 64px;
    margin: 2px auto;
    
}

#switch button{
    width: 32px;
    height: 32px;
    background: white  var(--switch-bg-url) no-repeat center; 
    border: 0;
    border-radius: 50%;


    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    

}

#switch span{
    display:block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;

}

.light #switch button {
    right: 0;
    left: initial;

}



/* style.css */

.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
}
  
  .table th,
  .table td {
    border: 1px solid var(--stroke-color);
    padding: 15px;
    text-align: center;
    
}

.show-button{
    height: 32px;
    border-radius: 12px;
    background: var(--surface-color);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    border: 1px solid var(--stroke-color);
    text-decoration: none;
   
}  